@* Order Confirmation View *@

@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center text-lg-center">Success!</h1><br />       
        <h2 class="text-primary text-center">Your Order has been recieved</h2><br />       
    </div>
    <div class="col-12 text-center" style="color:deepskyblue">
        <h4>Your Order Number is : @Model</h4>
        <br />
        <h4>Thank you for Shopping at ReadBay</h4><br />
        <br />

    </div>
</div>